body {
    --lz-color-primary: rgb(252, 213, 53);
    --lz-color-primary-light: rgb(252, 213, 53);
    --lz-color-primary-light-1: rgb(252, 213, 53);

    --lz-color-layout-background: #000000;
    --lz-color-grey: #535353;
    --lz-color-grey-light: #9CA3AF;
    --lz-color-grey-light-1: #808080;
    --lz-color-white: #fff;
    --lz-color-black: #000;
    --lz-color-text: #ffffff;

    --lz-color-sidebar-label-bg: #34401d;
    --lz-color-sidebar-border: rgba(128, 128, 128, 0.2);
    --lz-color-sidebar-bg: #1b1d1c;
    --lz-color-scrollbar-track: #2A2C32;
    --lz-color-scrollbar-thumb: rgba(128, 128, 128, 0.3);
    --lz-color-scrollbar-thumb-hover: #E5E5E5;

    --lz-color-nav-label-bg: rgba(252, 213, 53, 0.7);
    --lz-color-nav-bg: #3a3a3a;
}

.dark {
    --layout-background-color: #000000;
    --color-text-default: #ffffff;
}

.light {
    --layout-background-color: #E5E5E5;
    --color-text-default: #000000;
}